table {
    margin: 20% auto;
}
table, td, th {
    border: 1px solid black;
    text-align: center;
   
}
td, th, {
    padding: 20px;
}
th{
    font-weight: bold;
}
img{ 
 width: 200px;
}
td:nth-child(2) {
    font-weight: bold;
}
