table{
    margin: 0 auto;
}

th{
    font-size: 2em;
    border: 2px solid black;
}

img{
    width: 100px;
}

.companies,
td { 
    border: 2px solid black;
    padding: 30px;
}

.companies{
    text-align: center;
    padding: 20px;
    table-layout: fixed;
    width: 70%;
    border: 3px solid black; 
     /* border-collapse: collapse;  */
}

th, td:nth-child(2) {
    font-weight: bolder;
}